@model IEnumerable<NhanVien>

<tbody>
    @foreach (var nhanVien in Model)
    {
        <tr>
            <td>@nhanVien.Id</td>
            <td>@nhanVien.HoTen</td>
            <td>@nhanVien.NgaySinh</td>
            <td>@nhanVien.SoDienThoai</td>
            <td>@nhanVien.DiaChi</td>
            <td>@nhanVien.ChucVu</td>
            <td>@nhanVien.SoNamCongTac</td>
            <td>
                <button class="yellow-btn" style="display: inline-block;" data-bs-toggle="modal" data-bs-target="#editEmployeeModal" 
                onclick="editEmployee('@nhanVien.Id', '@nhanVien.HoTen', '@nhanVien.NgaySinh', '@nhanVien.SoDienThoai', '@nhanVien.DiaChi', '@nhanVien.ChucVu', '@nhanVien.SoNamCongTac')">
                    Sửa
                </button>
                <button class="red-btn" style="display: inline-block;" onclick="confirmDelete('@nhanVien.Id')">
                    <a asp-action="Delete" asp-route-id="@nhanVien.Id">Xóa</a>
                </button>
            </td>
        </tr>
    }
</tbody>
